{% extends 'core/base.html' %}

{% block title %}Edit Recipe - Recipe Manager{% endblock title %}

{% block content %}
<div class="card shadow-sm my-4">
  <div class="card-header bg-grey text-white">
    <h2 class="mb-0">Edit Recipe: {{ recipe.title }}</h2>
  </div>

  <div class="card-body">
    <form method="post" id="recipe-form">
      {% csrf_token %}
      <div class="form-group">
        {{ form.as_p }}
      </div>

      <h4 class="mt-4">Ingredients</h4>
      <div id="formset">
        {{ formset.management_form }}
        {% for form in formset %}
          <div class="card mb-3 ingredient-form">
            <div class="card-body">
              {{ form.as_p }}
              <button type="button" class="btn btn-outline-danger remove-form">Remove</button>
            </div>
          </div>
        {% endfor %}
      </div>

      <button type="button" id="add-form" class="btn btn-outline-secondary">Add Another Ingredient</button>
      <button type="submit" class="btn btn-success ml-2">Save Recipe</button>
    </form>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
$(document).ready(function(){
  var formIdx = $('#id_recipeingredient_set-TOTAL_FORMS').val();

  $('#add-form').click(function(){
    var formHtml = $('.ingredient-form:first').clone();
    formHtml.find(':input').each(function(){
      var name = $(this).attr('name');
      if (name) {
        var newName = name.replace(/-\d+-/, '-' + formIdx + '-');
        $(this).attr('name', newName).attr('id', 'id_' + newName).val('');
      }
    });
    formHtml.appendTo('#formset');
    $('#id_recipeingredient_set-TOTAL_FORMS').val(++formIdx);
  });

  $('#formset').on('click', '.remove-form', function(){
    if ($('.ingredient-form').length > 1) {
      $(this).closest('.ingredient-form').remove();
    }
  });
});
</script>
{% endblock content %}
