<!-- templates/core/grocery_list.html -->
{% extends 'core/base.html' %}
{% block title %}Grocery List{% endblock title %}
{% block content %}
  <h2>Grocery List</h2>
  
  <a href="{% url 'add_to_grocery_list' %}" class="btn btn-success mb-3">Add Item to Grocery List</a>

  {% if items %}
    <table class="table table-bordered">
      <thead>
         <tr>
             <th>Ingredient</th>
             <th>Missing Quantity</th>
             <th>Action</th>
         </tr>
      </thead>
      <tbody>
         {% for item in items %}
            <tr>
              <td>{{ item.ingredient.name }}</td>
              <td>{{ item.total_quantity }} {{ item.ingredient.measurement_unit }}</td>
              <td class="d-flex">
                <a href="{% url 'confirm_purchase' item.id %}" class="btn btn-primary btn-sm mr-2">Confirm Purchase</a>
                <form action="{% url 'remove_grocery_item' item.id %}" method="post" style="display:inline;">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-danger btn-sm">Remove</button>
                </form>
              </td>
              
            </tr>
         {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No items in your grocery list.</p>
  {% endif %}
{% endblock content %}
